[Unit]
Description=Run coyote to update ACME SSL certificate (lets encrypt) every day

[Timer]
OnCalendar=21:15
Persistent=true

[Install]
WantedBy=multi-user.target
