[Unit]
Description=Coyote ACME certificate update (let's encrypt) for domain %i
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/coyote %i
RemainAfterExit=false
